@import "variables"

html
  font-family: 'Open Sans', sans-serif
  color: $almost-black

body
  margin: 0

p 
  font-size: 14px
  font-weight: 600
  letter-spacing: 1px

h1
  font-size: 36px
  letter-spacing: 1.5px
  font-weight: 600

h2
  font-size: 24px
  letter-spacing: 18px
  word-spacing: 18px
  font-weight: 600

h5
  font-size: 14px
  letter-spacing: 11px
  word-spacing: 11px
  font-weight: 600

h6, .menu-link
  font-size: 14px
  letter-spacing: 1px
  font-weight: 600

.menu-link
  text-decoration: none
  margin-right: 11px
