.wrapper
  display: grid
  grid-gap: 10px
  font-size: 2rem
  color: #ffffff
  height: 500px
  font-family: Helvetica


.success
    background-image: url("https://raw.githubusercontent.com/daftcode/frontend_levelup_2018/master/assets/baner.png")
    background-size: cover

.one 
    padding: 5% 0 0 5%
    grid-column: 1
    grid-row: 1
    height: 30px

.two 
    padding: 5% 0 0 5%
    grid-column: 1
    grid-row: 2
    height: 30px

.three
    grid-column: 2
    grid-row: 1

.four
    padding: 25% 0 0 0
    grid-column: 2
    grid-row: 2

#to
    max-width: 100px

#from
    max-width: 100px