@import "../styles/variables"

.filter-buttons
    .menu-link
        color: $white
        border-radius: 50px
        border: 1px solid $white
        padding: 5px 22px
        font-weight: 500
        user-select: none
        display: inline-block
        &_active
            box-shadow: inset 0px 0px 13px 0px $white