@import "../styles/variables"

.launches-list
  display: flex
  min-height: 100vh
  flex-direction: column

.launches-list__body
    background: $almost-black
    flex: 1
    padding: 22px
    display: flex
    flex-direction: column
    align-items: center
    .body__moon
        margin-top: 66px
        background-size: contain
        background-repeat: no-repeat
        width: 50vw
    .body__logo
        width: 35vw
        margin-left: 5%
        margin-top: -10%
    h2
        color: $cool-grey
        font-weight: 500
    .launches-timeline
        color: $white
        width: 100%
        display: flex
        flex-wrap: wrap
        position: relative
        margin-bottom: 66px
        &__line
            position: absolute
            top: 0
            bottom: 0
            left: 50%
            border-left: thin dashed $cool-grey
        &__item
            width: 100%
            &__description
                // max-width: 50%
                &__rocket, &__launch-site
                    display: inline-block
                    color: $brownish-grey
                    margin-top: 0
                    margin-bottom: 0
                    text-overflow: ellipsis
                    white-space: nowrap
                    overflow: hidden
                &__rocket
                    padding-right: 11px
                    margin-right: 11px
                    border-right: 1px $brownish-grey solid
                &__launch-site
                    max-width: 30%
            .arrow
                margin: 11px 0
                width: 100%
                position: relative
            .arrow__line
                width: 47%
                background: $desert
            .arrow__dot
                display: inline
                width: 5px
                height: 5px
                border-radius: 50%
                background: $cool-grey
                position: absolute
                left: 50%
                top: 50%
                margin-left: -2px
                z-index: 1
            h5
                margin: 0
                word-spacing: 0
                user-select: none

        &__item:nth-child(odd)
            text-align: right

.launches-list__footer
    background: $dark-grey
    padding: 0 44px