@import "../../styles/variables"

.filter-buttons
    .menu-link
        display: inline-block
        color: $cool-grey
        border-radius: 50px
        border: 1px solid $cool-grey
        padding: 6px 33px
        &_active
            color: $white
            box-shadow: inset 0px 0px 13px 0px $white
