@import "../styles/variables"

.footer
    display: flex
    .footer__title, .footer__signature
        flex: 1
    .footer__title
        h6
            display: inline-block
            color: $brownish-grey
            border-right: 1px $brownish-grey solid
            margin-right: 11px
            padding-right: 11px
        .footer__links
            display: inline-block
            .menu-link
                color: $cool-grey
    .footer__signature
        text-align: right
        color: $brownish-grey