html {
  font-family: 'Open Sans', sans-serif;
  color: #0f1112; }

body {
  margin: 0; }

p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px; }

h1 {
  font-size: 36px;
  letter-spacing: 1.5px;
  font-weight: 600; }

h2 {
  font-size: 24px;
  letter-spacing: 18px;
  word-spacing: 18px;
  font-weight: 600; }

h5 {
  font-size: 14px;
  letter-spacing: 11px;
  word-spacing: 11px;
  font-weight: 600; }

h6, .menu-link {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600; }

.menu-link {
  text-decoration: none;
  margin-right: 11px;
  cursor: pointer; }

.launch-details-navbar {
  background: #22272b;
  padding: 0 44px; }

.launch-details-body {
  padding: 44px; }

.launch-details-footer {
  background: #22272b;
  padding: 0 44px; }

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  .layout .layout__left, .layout .layout__right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer .footer__title, .footer .footer__signature {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .footer .footer__title h6 {
    display: inline-block;
    color: #666666;
    border-right: 1px #666666 solid;
    margin-right: 11px;
    padding-right: 11px; }
  .footer .footer__title .footer__links {
    display: inline-block; }
    .footer .footer__title .footer__links .menu-link {
      color: #a7a9ac; }
  .footer .footer__signature {
    text-align: right;
    color: #666666; }

.arrow .arrow__line, .arrow svg {
  vertical-align: middle; }

.arrow .arrow__line {
  width: 33px;
  height: 1px; }

.arrow .arrow__dot {
  display: none; }

.arrow .right-arrow-pointer {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1); }

.arrow, .arrow * {
  display: inline-block; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .navbar div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .navbar .navbar__logo {
    text-align: center; }
  .navbar .navbar__backlink {
    color: #ccac5b;
    cursor: pointer; }
    .navbar .navbar__backlink .arrow__line {
      background: #ccac5b; }
    .navbar .navbar__backlink h5 {
      vertical-align: middle;
      margin-left: 22px;
      display: inline-block; }

.launch-label div {
  margin-bottom: 22px; }

.launch-label h1, .launch-label h5, .launch-label p, .launch-label img {
  margin: 0; }

.launch-label h5 {
  color: #a7a9ac; }

.rocket-menu {
  height: 491px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  color: #ffffff; }
  .rocket-menu .rocket-menu__body {
    margin-bottom: 66px; }
    .rocket-menu .rocket-menu__body .menu-link {
      border-radius: 50px;
      border: 1px solid #ffffff;
      color: #ffffff;
      padding: 5px 22px; }

.description__title {
  border-bottom: 2px #ccac5b solid;
  color: #ccac5b;
  margin-bottom: 22px; }

.description__body {
  margin-bottom: 66px; }
  .description__body p {
    text-align: justify;
    margin-top: 0;
    color: #666666; }

.description__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin-bottom: 22px; }
  .description__details__entry {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    border-left: 2px #a7a9ac dotted;
    margin: 0 22px 2px 0;
    padding: 0 0 0 22px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px; }
    .description__details__entry__key {
      color: #a7a9ac; }

.launches-list__body {
  background: #0f1112;
  padding: 100px 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .launches-list__body h2 {
    color: #a7a9ac;
    font-weight: 500; }
  .launches-list__body h6 {
    font-size: 14px;
    font-weight: 600;
    color: #a7a9ac; }
  .launches-list__body .launches-list__moon {
    background-size: contain;
    background-repeat: no-repeat;
    width: 60vw; }
  .launches-list__body .launches-list__logo {
    width: 35vw;
    margin-left: 5%;
    margin-top: -7%; }
  .launches-list__body .filter-buttons {
    margin-top: 22px;
    margin-bottom: 66px; }
  .launches-list__body .timeline {
    color: #ffffff;
    width: 100%; }

.launches-list__footer {
  background: #22272b;
  padding: 0 44px; }

.filter-buttons .menu-link {
  display: inline-block;
  color: #a7a9ac;
  border-radius: 50px;
  border: 1px solid #a7a9ac;
  padding: 6px 33px; }
  .filter-buttons .menu-link_active {
    color: #ffffff;
    -webkit-box-shadow: inset 0px 0px 13px 0px #ffffff;
            box-shadow: inset 0px 0px 13px 0px #ffffff; }

.timeline {
  position: relative; }
  .timeline__vertical-line {
    top: 0;
    bottom: 0;
    left: 50%;
    position: absolute;
    border-left: thin dashed #a7a9ac; }

.timeline-item:nth-child(odd) {
  text-align: right; }

.timeline-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .timeline-item > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .timeline-item h5 {
    margin: 0;
    word-spacing: 0; }
  .timeline-item__description h6 {
    display: inline-block;
    color: #666666;
    margin-top: 0;
    margin-bottom: 0; }
  .timeline-item__description__text-with-border {
    padding-right: 11px;
    margin-right: 11px;
    border-right: 1px #666666 solid; }
  .timeline-item__description__text-grey {
    color: #a7a9ac; }
  .timeline-item .arrow {
    position: relative;
    width: 100%;
    margin: 11px 0 11px 0; }
  .timeline-item .arrow__line {
    background: #ccac5b;
    width: 90%; }
  .timeline-item .arrow__dot {
    background: #a7a9ac;
    display: inline;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    position: absolute;
    top: 50%; }
    .timeline-item .arrow__dot_left {
      margin-left: -2px;
      left: 0; }
    .timeline-item .arrow__dot_right {
      margin-right: -3px;
      right: 0; }


/*# sourceMappingURL=main.css.map*/