.launch-details-navbar {
  background: #22272b;
  padding: 0 44px; }

.launch-details-body {
  padding: 44px; }

.launch-details-footer {
  background: #22272b;
  padding: 0 44px; }

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  .layout .layout__left, .layout .layout__right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer .footer__title, .footer .footer__signature {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .footer .footer__title h6 {
    display: inline-block;
    color: #666666;
    border-right: 1px #666666 solid;
    margin-right: 11px;
    padding-right: 11px; }
  .footer .footer__title .footer__links {
    display: inline-block; }
    .footer .footer__title .footer__links .menu-link {
      color: #a7a9ac; }
  .footer .footer__signature {
    text-align: right;
    color: #666666; }

.arrow .arrow__line, .arrow svg {
  vertical-align: middle; }

.arrow .arrow__line {
  width: 33px;
  height: 2px; }

.arrow, .arrow * {
  display: inline-block; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .navbar div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .navbar .navbar__logo {
    text-align: center; }
  .navbar .navbar__backlink {
    color: #ccac5b; }
    .navbar .navbar__backlink .arrow__line {
      background: #ccac5b; }
    .navbar .navbar__backlink h5 {
      vertical-align: middle;
      margin-left: 22px;
      display: inline-block; }

.launch-label div {
  margin-bottom: 22px; }

.launch-label h1, .launch-label h5, .launch-label p, .launch-label img {
  margin: 0; }

.launch-label h5 {
  color: #a7a9ac; }

.rocket-menu {
  height: 491px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  color: #ffffff; }
  .rocket-menu .rocket-menu__body {
    margin-bottom: 66px; }
    .rocket-menu .rocket-menu__body .menu-link {
      border-radius: 50px;
      border: 1px solid #ffffff;
      color: #ffffff;
      padding: 5px 22px; }

.description__title {
  border-bottom: 2px #ccac5b solid;
  color: #ccac5b;
  margin-bottom: 22px; }

.description__body {
  margin-bottom: 66px; }
  .description__body p {
    text-align: justify;
    margin-top: 0;
    color: #666666; }

.description__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin-bottom: 22px; }
  .description__details__entry {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    border-left: 2px #a7a9ac dotted;
    margin: 0 22px 2px 0;
    padding: 0 0 0 22px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px; }
    .description__details__entry__key {
      color: #a7a9ac; }

html {
  font-family: 'Open Sans', sans-serif;
  color: #0f1112; }

body {
  margin: 0; }

p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px; }

h1 {
  font-size: 36px;
  letter-spacing: 1.5px;
  font-weight: 600; }

h2 {
  font-size: 24px;
  letter-spacing: 18px;
  word-spacing: 18px;
  font-weight: 600; }

h5 {
  font-size: 14px;
  letter-spacing: 11px;
  word-spacing: 11px;
  font-weight: 600; }

h6, .menu-link {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600; }

.menu-link {
  text-decoration: none;
  margin-right: 11px; }


/*# sourceMappingURL=main.css.map*/