@import "../../styles/variables"

.description__title
    border-bottom: 2px $desert solid
    color: $desert
    margin-bottom: 22px

.description__body
    margin-bottom: 66px
    p
        text-align: justify
        margin-top: 0
        color: $brownish-grey

.description__details
    display: flex
    flex-direction: row
    flex-flow: row wrap
    margin-bottom: 22px
    &__entry
        flex-basis: 40%
        border-left: 2px $cool-grey dotted
        margin: 0 22px 2px 0
        padding: 0 0 0 22px
        font-size: 14px
        font-weight: 600
        letter-spacing: 1px
        &__key
            color: $cool-grey